.Form-Container
{
    border-radius: 10px;
    margin-top: 20px;
}
.cont
{
    text-decoration: underline;
}

    .box {
        width: 70px;
        height: 70px;
        margin-left: 20px;
        background: #FFB1B1;
      }
      .Mui-button
      {
        height:50px;
        border-radius: 15px !important;
        padding: 2px;
        color: white;
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        line-height:2;
        background : transparent;
        border-radius: 10px;
        width: fit-content;
        padding: 0 20px 0 20px;
        height: 50px;
        color: white !important;
        border: 1px solid;
        background: linear-gradient(90deg, rgba(177,58,180,1) 0%, rgba(253,29,48,1) 50%);
        width: 100% !important;
        margin: 20px 0 15px 0 !important;
      }
      .Mui-button:hover
      {
        box-shadow: 0 0 3px rgb(214, 105, 147), 0 0 3px rgb(236, 54, 91), 0 0 3px rgb(202, 35, 63), 0 0 3px rgb(238, 40, 245), 0 0 5px rgb(247, 33, 33);
        transition: 0.1s easein;
      }