@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  padding: 0;
}
body 
{
  background-color: black;
}

.Common-Button
{
  height:50px;
  margin: 15px;
  border-radius: 15px;
  width: fit-content;
  padding: 2px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height:2;
  background : transparent;
  border-radius: 15px;
  width: fit-content;
  padding: 0 20px 0 20px;
  height: 50px;
  color: white !important;
  border: 1px solid white;
}
.text-common
{
  font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height:2;
}

@media (max-width: 800px)
{
  .Main-content
  {
    display: none;
  }
  .Error-Block
  {
  display: block;
  }
}

@media (min-width: 881px)
{
  .Main-content
  {
    display: block;
  }
  .Error-Block
  {
  display: none;
  }
}