@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  padding: 0;
}
body 
{
  background-color: black;
}

.Common-Button
{
  height:50px;
  margin: 15px;
  border-radius: 15px;
  width: fit-content;
  padding: 2px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height:2;
  background : transparent;
  border-radius: 15px;
  width: fit-content;
  padding: 0 20px 0 20px;
  height: 50px;
  color: white !important;
  border: 1px solid white;
}
.text-common
{
  font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height:2;
}

@media (max-width: 800px)
{
  .Main-content
  {
    display: none;
  }
  .Error-Block
  {
    display: block;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    top:50%;
    bottom:50%;
    left:50%;
    right:50%;
  }
}

@media (min-width: 881px)
{
  .Main-content
  {
    display: block;
  }
  .Error-Block
  {
  display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px)
{
  .Main-content
  {
    display: none;
  }
  .Error-Block
  {
    display: block;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    bottom:50%;
    left:50%;
    right:50%;
    margin-top: 200px;
  }
}
@media (max-width: 576px)
{
  .Main-content
  {
    display: none;
  }
  .Error-Block
  {
  display: block;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  margin-top: 200px;
  }
}